body {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 228, 228);
    background-size: cover;



}

header {

    background: linear-gradient(to right, rgb(211, 24, 24), rgb(43, 19, 179));
    padding-top: 40px;
    height: 20%;
    color: white;
    font-size: 1.5rem;
    height: 10rem;

}

img {
    height: 250px;
    width: 250px;
    border-radius: 150px;
    padding-top: 10px;
    margin-right: 50rem;
    margin-top: 2rem;
    margin-left: 34rem;
    
    
}

h3{
    margin-top: 6rem;
}

p{
    font-weight: 100;
    margin-top: 3rem;
}






:root {
    --total-skills: 7;
    --logo-width: 12rem;
    --total-logo-width: calc(var(--total-skills) * var(--logo-width) *2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section h1 {
    font: 600 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 10rem;
    text-align: center;
}

.slider {
    position: relative;

    width: 100ww;
    height: 12rem;
    background-color: #fff;

    box-shadow: 0.8rem 1.4rem -.2rem #0001;

    display: flex;

    align-items: center;
    overflow: hidden;
}

.slider::before,
.slider::after {
    position: absolute;
    content: "";

    height: 100%;
    width: var(--logo-width);

}

.slider::before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, #fff0 100%);

}

.slider::after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, #fff0 100%);
}

.slider ul.skills {
    list-style: none;

    width: var(--total-logo-width);

    display: flex;

    animation: slideLeft 14s linear infinite;
}

.slider:hover ul.skills {
    animation-play-state: paused;
}

@keyframes slideLeft {
    100% {
        transform: translateX(calc(-100% /2));
    }
}

ul.skills li.skill {
    width: var(--logo-width);
    font-size: 2rem;
    text-align: center;
    margin-left: 3rem;

}

.contact {
    margin-top: 6rem;
}

ul {

    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 30rem;

}

.fa-instagram {
    margin-left: 20px;
    font-size: 2rem;
   

}

.fa-github {

    background-color: white;
    color: black;
    margin-left: 20px;
    font-size: 2rem;

}

.fa-linkedin {

    margin-left: 20px;
    font-size: 2rem;
}

.fa-github:hover {

    background-color: rgb(14, 15, 14);
    color: rgb(235, 240, 231);
    border-radius: 10px;




}

.fa-instagram:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.fa-linkedin:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

footer{
    background: linear-gradient(to right, rgb(211, 24, 24), rgb(43, 19, 179) );
    height: 5rem;
    padding-top: 1px;
    margin-top: 2rem;
 
}